body {
margin-left:25%;
}
h1 {
    margin-left: 24%;
}
button {
    margin-left: 17.5%;
    margin-top: 1%;
    width: 75px;
    height: 35px;
    font-size: 20px;
}

#board {
    display: flex;
    margin: 5%;
    margin-top: 2%;
    height: 700px;
    width: 700px;
    border: black 5px solid;
}

.cell {
    border: black 1px solid;
}
